<!--<nav class="navbar navbar-expand  p-2">
  <ul class="navbar-nav">
    <li class="nav-item"><button class="btn btn-outline-info ms-1">Home</button></li>
    <li class="nav-item"><button class="btn btn-outline-info ms-1">Products</button></li>
    <li class="nav-item"><button class="btn btn-outline-info ms-1">New Product</button></li>
  </ul>

</nav>-->
<!--<nav class="p-2">
  <ul class="nav nav-pills">
    <li><button routerLink="/home" class="btn btn-outline-info ms-1">Home
        <i class="bi bi-house text-success"></i>
    </button></li>
    <li ><button routerLink="/products" class="btn btn-outline-info ms-1">Products
      <i class="bi bi-arrow-down-up text-success"></i>
    </button></li>
    <li ><button routerLink="/newProduct" class="btn btn-outline-info ms-1">New Product
      <i class="bi bi-plus-circle text-success"></i>
    </button></li>
  </ul>
</nav>-->


<!--app-nav-bar></app-nav-bar-->
<!--app-login></app-login-->
<!--app-dashbord></app-dashbord-->
<router-outlet>
</router-outlet>



